:root {
  position: relative;
  overflow: auto;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-margin-top: 3rem;
  scroll-margin-bottom: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  padding-right: 8px;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: none!important;
  font-weight: bold;
}

body {
  font-family: "Gill Sans", system-ui, Helvetica, Arial, sans-serif;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.0em;
}

h2 {
  margin: 8px 0px
}

h3 {
  margin: 5px 0px 5px;
}

h4, p, aside {
  margin: 5px 0px 5px;
  font-family: "Merriweather", sans-serif;
  color: #888888;
}

button {
  font-size: 1.7em;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    text-decoration: underline;
  }
  button {
    background-color: #f9f9f9;
  }
}
